

    <div class="signerscontainer">
        <div class="allsigners">
            All signers from:
            {{city}}
        </div>

            {{#cities}}
               {{#if url}}
               <div class="inline">
                   <div>
                      <a href="{{url}}" class="link">{{first}} {{last}},</a>
                   </div>
                   <div class="beige">{{#if age}} &nbsp;age:&nbsp;{{age}} {{/if}}</div>
                </div>
               {{else}}
                   <div class="inline">
                       <div class="beidge">
                          {{first}} {{last}}, {{#if age}} &nbsp;age:&nbsp;{{age}} {{/if}}
                       </div>
                    </div>
               {{/if}}
            {{/cities}}

    </div>
