



            {{#if emailUsed}}
                Something went wrong!
            {{/if}}

                <div class="profile">
                    <form method="POST">
                        <div class="inputdesc">First Name</div>
                        <div class="input">
                            <input type='text' name='first' value='{{first}}' autocomplete='off'>
                        </div>
                        <div class="inputdesc">Last Name</div>
                        <div class="input">
                            <input type="text" name='last' value='{{last}}' autocomplete='off'>
                        </div>
                        <div class="inputdesc">Email</div>
                        <div class="input">
                            <input type="text" name='email' value='{{email}}' autocomplete='off'>
                        </div>
                        <div class="inputdesc">Password</div>
                        <div class="input">
                            <input type="password" name='password' placeholder='******' autocomplete='off'>
                        </div>
                        <div class="inputdesc">Age</div>
                        <div class="input">
                            <input type='text' name='age' value='{{age}}' autocomplete='off'>
                        </div>
                        <div class="inputdesc">City</div>
                        <div class="input">
                            <input type="text" name='city' value='{{city}}' autocomplete='off'>
                        </div>
                        <div class="inputdesc">Home Page</div>
                        <div class="input">
                            <input type="text" name='url' value='{{url}}' autocomplete='off'>
                        </div>
                        <div class="input">
                            <input type="submit" value="Update profile" class="submit">
                        </div>

                        <div class="signcontainer">
                            <img src="{{sign}}" class="sign">
                        </div>

                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    </form>

                    {{#if sign}}
                        <form action="/delete" method="POST">
                            <button type="submit" name="button" class="buttoninthanks">Delete your signature</button>
                            <input type="hidden" name="_csrf" value="{{csrfToken}}">
                        </form>
                    {{/if}}

                    <form action="/deleteaccount" method="POST">
                        <button type="submit" name="button" class="buttoninthanks">Delete account</button>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    </form>
                </div>
