<!-- <img src="duck.jpg"> -->




<!-- <div class="signersbox"> -->
    <div class="signerscontainer">






        <div class="allsigners">
            All {{numOfSigns}} signers:
        </div>
        <form action="signersin" method="POST">
            {{#allInfo}}
               {{#if url}}
                    <div class="inline">
                       <div>
                           <a href="{{url}}"> {{first}} {{last}} &nbsp;</a>
                       </div>
                       <div>
                           age: {{age}} city:
                           <button type="submit" name="button" class="nobutton" value="{{city}}">{{city}}</button>

                       </div>
                    </div>


               {{else}}
                   <div class="inline">
                       <div>
                             {{first}} {{last}} {{#if age}} age: {{age}} {{/if}}
                       </div>
                       {{#if city}}
                           <div>
                                 <button type="submit" name="button" class="nobutton" value="{{city}}">{{city}}</button>
                           </div>
                       {{/if}}
                   </div>

               {{/if}}

            {{/allInfo}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>
    </div>


<!-- </div> -->
