<!-- <img src="duck.jpg"> -->




<!-- <div class="signersbox"> -->
    <div class="signerscontainer">

        <form action="signersin/Berlin" method="POST">
            <button type="submit" name="button" class="nobutton">in city</button>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
        </form>

        <a href="signersin/Berlin">
            <div class="buttoninthanks">
                Edit your profile
            </div>
        </a>

        <div class="allsigners">
            All {{numOfSigns}} signers:
        </div>
        <!-- {{#allInfo}}
           {{#if url}}
                <div class="inline">
                   <div>
                       <a href="{{url}}"> {{first}} {{last}} &nbsp;</a>
                   </div>
                   <div>
                       age: {{age}} <a href="signersin/{{city}}">city: {{city}}</a>
                   </div>
                </div>


           {{else}}
               <div class="inline">
                   <div>
                         !!!{{first}} {{last}} {{#if age}} age: {{age}} {{/if}}
                   </div>
                   {{#if city}}
                       <div>
                            <a href="signersin/{{city}}">&nbsp;city: {{city}}</a>
                       </div>
                   {{/if}}
               </div>

           {{/if}}

        {{/allInfo}} -->
    </div>


<!-- </div> -->
