
<form action="/delete" method="POST">
    <div class="profile">
        <div class="signpetition">
            <div class="user">
               {{first}} {{last}},
            </div>
             thank you for signing
        </div>
        <div>
            <img src="{{sign}}" class="sign">
        </div>
        <div class="submitbtn">
            <input type="submit" value="Delete your signature" class="buttoninthanks">
        </div>
        <a href="signers">
            <div class="buttoninthanks">
                See all {{numOfSigns}} signers
            </div>
        </a>
        <a href="edit">
            <div class="buttoninthanks">
                Edit your profile
            </div>
        </a>
         <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>
</form>
