
<form action="/delete" method="POST">
    <div class="profile">        
        <div class="signpetition">
            <div class="user">
               {{first}} {{last}},
            </div>
            <br> thank you for signing
        </div>
        <div>
            <img src="{{sign}}" class="sign">
        </div>
        <div class="submitbtn">
            <button type="submit" name="button">Delete your signature</button>
        </div>
        <div>
             <div class="links">
                 <a href="signers">See all {{numOfSigns}} signers</a>
             </div>
             <div class="links">
                 <a href="edit">Edit your profile</a>
             </div>
        </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </div>

</form>
